---
---

<section class="py-20 sm:py-28 bg-dark-lighter">
  <div class="px-6 sm:px-12 lg:px-20">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-white mb-10">
      Discover Our Social Feed
    </h2>

    <div class="elfsight-app-6fdbc2bd-1ccb-40d6-bacc-7aa0f0072abc" data-elfsight-app-lazy></div>
  </div>
</section>

<script is:inline src="https://static.elfsight.com/platform/platform.js" async></script>
